@import url('reset.css');
@import url('fuentes.css');
/*Los estilos generales*/

body{
    background: #606060;
    font-family:fantasy, inherit, sans-serif;
        
}

#wrap{
    width: 1200px;
    margin: auto;
    clear: both;
    
}

/* Seccion general -----------------------------------------------------------*/

a{   text-decoration: none;
    color:black;
}

a:hover{
    text-decoration: underline;
}

header{
    width: 100%;
    float: left;
    @font-face
    font-family: Satan;
    background: #00CCCC; /* Old browsers */
    background: -moz-linear-gradient(top, #00CCCC 0%, #009999  100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #00CCCC 0%,#009999  6FF 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #00CCCC 0%,#009999  100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00CCCC', endColorstr='#009999 ',GradientType=0 ); /* IE6-9 */
        box-shadow: 0px 3px 5px #808080;
}

#subheader{
    width: 960px;
    margin: auto;
    
}

#logotipo{
    
    float: left;
    width: 300px;
    padding: 10px 0px;
    
}

#logotipo a{
    font-family:Satan;
    font-size: 80px;
    color: #000066;
    
}

#logotipo a:hover{text-decoration: none;}



/*--Menu--*/

header #subheader nav{
    float: left;
    width: 660px;
    padding: 30px 0px;
    text-align: center;
    
}

header #subheader nav ul li{
    display: inline;/*elemtos mostrados en linea*/
    font-family: Satan;
     
    
}

header #subheader nav ul li a {
    color: #000066;
    font-size:35px;
    padding: 10px;
    border-radius:2px;
    
}

header #subheader nav ul li a:hover{
    color:#006666;
    background: #FF99CC;
    text-decoration: none;
}

/*Fin de Seccion general----------------------------------------------------------------------*/


#main{
    background: #9999FF;
    width: 100%;
    margin: 20px 0px 0px 0px;
    float: left;
}

/*slideshow*/

#slideshow{
    width: 1200px;
    height: 260px;
    float: left;
    background: #000;   
    border: solid 20px white;
    margin-bottom: 10px;
    
}


#bienvenidos{
    width: 1156px;
    float: left;
    padding: 20px;
    
        background: #6666FF; /* Old browsers */
        background: -moz-linear-gradient(top, #6666FF 0%, #6666FF 100%, #6666FF 100%, #6666FF 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #6666FF 0%,#6666FF 100%,#6666FF 100%,#6666FF 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #6666FF 0%,#6666FF 100%,#6666FF 100%,#6666FF 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6666FF', endColorstr='#6666FF',GradientType=0 ); /* IE6-9 */
    
        margin: 2px 2px 2px 2px;
        border-radius: 5px;
        box-shadow: 1px 1px 1px 1px #9999FF;/*Sombra*/
     
}

#bienvenidos article h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
    }

#bienvenidos article h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    font-size: 40px;
    margin-bottom: 10px;
    }
    
#bienvenidos article h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    font-size: 35px;
    margin-bottom: 10px;
    }

#bienvenidos article {
    color:white;
    line-height: 27px;
}

#bienvenidos li {
    color:white;
    font-size: 28px;
    line-height: 30px;
}

/*Articulos-*/

#contenido{
    width: 800px;
    float: left;
    padding: 20px;   
}

#contenido article{
    float: left;
    margin-bottom: 20px;
}

#contenido article .titulo{
    font-size: 33px;
    font-family: planeas;
    color:#00FFFF;
    
}

#contenido article .fecha{
    
    font-size: 22px;
    color:#FFFFFF;
    margin-bottom: 5px;
}

#contenido article .simple{
    
    font-size: 22px;
    color:#FFFFFF;
    margin-bottom: 5px;
}

.thumb{ /*imagen formato*/
    width: 220px; /*largo*/
    height: 150px;/*ancho*/
    float: left;/*elementos a la izquierda*/
    margin: 0px 10px 10px 0px;
    
}

#contenido article p{
    color: #FFFFFF;
    font-size:14px;
    text-align: justify;
    line-height: 27px;/*espaciando entre cada linea*/
}
#contenido article .letrac{
    color: #00CCCC;
    font-size: 14px;
}

