
@import url('reset.css');
@import url('fuentes.css');
/*Los estilos generales*/

body{
    background-color: #2d2d2d;
}

/* Seccion general -----------------------------------------------------------*/

a{   text-decoration: none;
    color:black;
}

a:hover{
    text-decoration: underline;
}

header{
    width: 100%;
    float: left;
    background: #00CCCC; /* Old browsers */
    background: -moz-linear-gradient(top, #00CCCC 0%, #009999  100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #00CCCC 0%,#009999 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #00CCCC 0%,#009999  100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00CCCC', endColorstr='#009999 ',GradientType=0 ); /* IE6-9 */
        box-shadow: 0px 3px 5px #808080;
}

#subheader{
    width: 960px;
    margin: auto;
    
}

#logotipo{
    
    float: left;
    width: 300px;
    padding: 10px 0px;
    
}

#logotipo a{
    font-family: patitas;
    font-size: 80px;
    color: #000066;
    
}

#logotipo a:hover{text-decoration: none;}


/*--Menu--*/

header #subheader nav{
    float: left;
    width: 660px;
    padding: 40px 0px;
    text-align: center;
    
}

header #subheader nav ul li{
    display: inline;/*elemtos mostrados en linea*/
    font-family: patitas;
     
    
}

header #subheader nav ul li a {
    color: #000066;
    font-size:35px;
    padding: 10px;
    border-radius:2px;
    
}

header #subheader nav ul li a:hover{
    color:#006666;
    background: #FF99CC;
    text-decoration: none;
}

/*Pie de pagina GENERAL*/

.pie{
    padding: auto;
    width: 100%;
    float: left;
    @font-face
    font-family: cursiva;
    background: #009999; /* Old browsers */
    background: -moz-linear-gradient(top, #009999 0%, #006666  100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #009999 0%,#006666  100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #009999 0%,#006666  100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009999', endColorstr='#006666 ',GradientType=0 ); /* IE6-9 */
        box-shadow: 5px 5px 5px 5px #808080;
    margin-top: 20px;
}

.letra{
    font-size: 15px;
    padding-left: auto;
    font-family: Bodo;
}

#redes-s{  
    float: left;
    width: 300px;
    padding: 10px 10px;
    
}

#derechos{
    float: right;
    width: 900px;
    padding: 50px;
    
}

.h3{
    font-size: 18x;  
}

#profe{
    float: left;
    width: auto;
    padding: 10px;
    
}

/*Fin de Seccion general----------------------------------------------------------------------*/



#sec1{
    width: 1100px;
    margin: auto;
    clear: both;
    
}

.ib{
    height: auto;
    background-image: url(../media/Imag/cl.jpg);
    background-size: 1100px;
  
}

#sec2{
    width: 100%;
    margin: 50px 0px 0px 0px;
    float:left
    
}
.sec3{
    width: 100%;
    float:left;
    padding: 20px;
    background-color: #b4d0c5;
    border-radius: 25px;
    margin-bottom: 40px;
    
    

}
.tamimg{
    width: 300px;
    height: 322px;
    float: left;
    margin: 0px 10px 0px 0px;
    border-radius: 25px;
}
.tamimg1{
    width: 220px;
    height: 490px;
    float: left;
    margin: 0px 10px 0px 0px;
    border-radius: 25px;
}
.tamimg2{
    width: 220px;
    height: 490px;
    float:right;
    margin: 0px 0px 0px 10px;
    border-radius: 25px;
}
.titulos{
    font-size: 40px;
    text-align: center;
    font-family: Tomodachy;
    color: #923484;

}
.contenidos{
    font-size: 20px;
    text-align: justify;
    font-family: Tomodachy;
    color: rgb(65, 65, 65);

}
.sec4{
    width: 750px;
    float: left;
    margin: 0%;
    padding: 0%;
}

aside{
    width: 300px;
    float:left;
    margin-left: 20px;
    background: #6a778a;
    padding: 10px 10px 0px 10px;/* arriva-px  derecha-px abajo-px izquierda-px*/   
    border-radius: 25px;/*borde poniendo radios*/
    box-shadow: 0px 2px 2px #000; /* derecha-px abajo-px izquierda-px #color */
    
}

aside .widget{ 
    margin-bottom: 10px;
    float: left;
}

aside .widget>h3{
    background: white;
    color: #4d78b3;
    width: 300px;
    padding: 10px 0px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px; 
    border-radius: 25px; 
}

aside .widget{
    color: white;
}

.tamimg3{
    width: 100%;
    height: 426px;
    border-radius: 25px;
}
.tamimg4{
    width: 300px;
    height: 208px;
    border-radius: 25px;
}
