/*Todas las Fuentes*/
@font-face {
    font-family: Satan;
    src: url(../fuentes/who\ asks\ satan.ttf);
}

@font-face {
    font-family: planetas;
    src: url(../fuentes/Planets.otf);
}


/* -------- Los estilos Ana -------- */
@font-face {
    font-family: Males;
    src: url(../fuentes/Males.ttf);
}

@font-face {
    font-family: Gihun;
    src: url(../fuentes/Gihun.ttf);
}

@font-face {
    font-family: Simvoni;
    src: url(../fuentes/Louis_George_Cafe_Italic.ttf);
}
/*Ikneel´s fonts*/
@font-face {
    font-family: Bodo;
    src: url(../fuentes/Bodo\ Amat.ttf);
}
@font-face {
    font-family: Tomodachy ;
    src: url(../fuentes/Tomodachy.otf);
}