/*Todas las Fuentes*/

/* -------- Fuentes del Main -------- */

@font-face {
    font-family: LockerGnome;
    src: url(../fuentes/lockergnome.ttf);
}

@font-face {
    font-family: Maria;
    src: url(../fuentes/maría_dolores.ttf);
}

@font-face {
    font-family: MCKLB;
    src: url(../fuentes/MCKLB___.ttf);
}

@font-face {
    font-family: Timoteo;
    src: url(../fuentes/Timoteo.ttf);
}

@font-face {
    font-family: Severina;
    src: url(../fuentes/SEVERINA.ttf);
}



/* -------- Los estilos Ana -------- */
@font-face {
    font-family: Males;
    src: url(../fuentes/Males.ttf);
}

@font-face {
    font-family: Gihun;
    src: url(../fuentes/Gihun.ttf);
}

@font-face {
    font-family: Simvoni;
    src: url(../fuentes/Louis_George_Cafe_Italic.ttf);
}
/*Ikneel´s fonts*/
@font-face {
    font-family: Bodo;
    src: url(../fuentes/Bodo\ Amat.ttf);
}
@font-face {
    font-family: Tomodachy ;
    src: url(../fuentes/Tomodachy.otf);
}

/*--- Estilos ivan ---*/

@font-face{
    font-family: gooddog;
    src: url(..//fuentes/GOODDC__.TTF);
}