@import url('reset.css');
@import url('fuentes.css');

/*Header*/
a{   text-decoration: none;
    color:black;
}

a:hover{
    text-decoration: underline;
}

header{
    width: 100%;
    float: left;
    @font-face
    font-family: Satan;
    background: #00CCCC; /* Old browsers */
    background: -moz-linear-gradient(top, #00CCCC 0%, #009999 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #00CCCC 0%,#009999 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #00CCCC 0%,#009999 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00CCCC', endColorstr='#009999',GradientType=0 ); /* IE6-9 */
        box-shadow: 0px 3px 5px #808080;
}

#subheader{
    width: 1000px;
    margin: auto;
    
}

#logotipo{
    
    float: left;
    width: 330px;
    padding: 10px 0px;
    
}

#logotipo a{
    font-family:Satan;
    font-size: 80px;
    color: #000066;
    
}

#logotipo a:hover{text-decoration: none;}

header #subheader nav{
    float: left;
    width: 660px;
    padding: 30px 0px;
    text-align: center;
    
}

header #subheader nav ul li{
    display: inline;/*elemtos mostrados en linea*/
    font-family: Satan;
     
    
}

header #subheader nav ul li a {
    color: #000066;
    font-size:35px;
    padding: 10px;
    border-radius:2px;
    
}

header #subheader nav ul li a:hover{
    color:#006666;
    background: #FF99CC;
    text-decoration: none;
}

.body{
    background: linear-gradient(to bottom, #d8a603 0%,#eefc72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.a{
    background: linear-gradient(to bottom, #2a61d6 0%,#1e089c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.fotos{
    text-align: justify;
}

.thumb{ /*imagen formato*/
    float: left;/*elementos a la izquierda*/
    margin: 0px 10px 10px 0px;   
}

.tamañoLetra{
    font-size: 20px;
    text-align: left;
}

.h2{
    text-underline-position: auto;
    font-family: fantasy;
    font-size: 30px;
    color: red;
    background: linear-gradient(to bottom, rgb(9, 194, 201) 0%, rgb(30, 30, 175) 100%) ;
}

.h21{
    font-family: fantasy;
    font-size: 30px;
    color: red;
    background: linear-gradient(to bottom, rgb(30, 30, 175) 0%, rgb(9, 194, 201) 100%) ;
}

.tr{
    margin: 55px;
    padding: 50px;
}

.tabla{
    background: linear-gradient(to bottom, #f0db96 0%,#f7d205 100%);
    margin-top: 15px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 15px;
}

